.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.steps-component {
    position: absolute;
    width: 700px;
    top: 19%;
    left: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}